body {
    background-color: #222;
    color: white;
}

/*
    ===========================
            TABLA
    ===========================
*/
table, td, th {
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
}

td a:hover {
    color: orange;
}

a button#editar {
    background-color: #4CAF50;
    border-radius: 15px;
    cursor: pointer; 
    color: white;
}

a button#borrar {
    background-color: #cc0d0d;
    border-radius: 15px;
    color: white;
    cursor: pointer; 

}

/*
    ===========================
            FORMS
    ===========================
*/

form input[type=text], select {
    display: block;
    margin: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

/*  Borrado  */
#borrado {
    background-color: black;
    width: 400px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: white;
}
