/*
    Autor: Sergio Matamoros Delgado <smatamorosdelgado.guadalupe@alumnado.fundacionloyola.net>
    Fecha: 3/11/2021
    Licencia: GPL v3
    Descripción: Fichero con contenido general del CSS
*/

/*
    ===========================
            TABLA
    ===========================
*/
table, td, th {
    margin: 30px auto;
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
}

td a:hover {
    color: orange;
}

a button#editar {
    background-color: #4CAF50;
    border-radius: 15px;
    cursor: pointer; 
    color: white;
}

a button#borrar {
    background-color: #cc0d0d;
    border-radius: 15px;
    color: white;
    cursor: pointer; 

}

/*
    ===========================
            FORMS
    ===========================
*/
form#busquedaForm {
    margin: 30px 0 50px 0;
    width: 480px;
    height: 50px;
}
#tipos {
    float: left;
    margin: 0;
    background-color: #2b303b;
    color: white;
    width: 80px;
    height: 50px;

    border-radius: 1px;

}

#search {
    width: 300px;
    height: 50px;
    background-color: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 15px;
    border-radius: 1px;
    color: #fff;
    margin:0px;

}

#buscar {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 1px;

    border: none;
    background-color: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    font-size: 10pt;

    margin:0px;
    float: left;


    transition: all .55s ease;
}

#buscar:hover,form input[type="reset"]:hover {
    background-color: white;

}

form input[type="reset"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    float: left;

    border: none;
    background-color: #232833;
    height: 50px;
    width: 50px;
    color: red;
    font-weight: bold;
    font-size: 10pt;

    margin:0px;

    transition: all .55s ease;
}

form input[type=text], select {
    display: block;
    margin: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

/*  Borrado  */
#borrado {
    background-color: black;
    width: 400px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: white;
}

#busqueda {
    clear: left;
    margin-top: 70px;
}
