
/*
    ===========================
            TABLA
    ===========================
*/
table, td, th {
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
    color: black;
}

td a:hover {
    color: orange;
}

a button#editar {
    background-color: #4CAF50;
    border-radius: 15px;
    cursor: pointer; 
    color: white;
}

a button#borrar {
    background-color: #cc0d0d;
    border-radius: 15px;
    color: white;
    cursor: pointer; 

}

/*
    ===========================
            FORMS
    ===========================
*/

#search {
    background: transparent;
    border-radius: 1.5em;
    box-shadow: 0 0 0 0.4em #171717 inset;
    padding: 0.75em;
    transform: translate(0.5em,0.5em) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form input[type=text], select {
    display: block;
    margin: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

/*  Borrado  */
#borrado {
    background-color: black;
    width: 400px;
    height: 100px;
    margin: auto;
    padding-top: 20px;
    text-align: center;
    color: white;
}
